/* This only effects the books content, not the reader UI */


/*  This fixes really long seperators that don't break in the right places
 */
body p {
  word-wrap: break-word;
  overflow-wrap: break-word
}

/*  This just adds a border to the chapters.
 *  It makes it easy to see when stuf is overflowing.
 */
body.border {
  border: black;
  border-width: thin;
  border-style: dotted;
  padding: 0.3em;
}

/*  This is for associations.
 */
/*  This adds a header since the sections don't have them by default
 */
.associations::before {
  content: "Associated Works:";
  font-weight: bold;
}
/*  This adds the border
 */
.associations {
  border: tomato;
  border-width: medium;
  border-style: dashed;
  margin: 1em;
  padding: 1em;
  padding-left: 1em;
}

/*  This is authors notes border
 */
blockquote.userstuff ,
.authors-note {
  border: darkviolet;
  border-width: medium;
  border-style: double;
  margin: 1em;
  padding: 1em;
}
