/* This CSS only effects the reader UI, not the actual books. */

#tocView {
  margin-top: 42px;
  padding-top: 0px;
  height: 93%;
}
#tocView ul {
  margin-bottom: 20px;
}
#divider {
  z-index: 3;
}

.hdr-fictionpress {
  color: #990000;
}
